<div class="container">
  <div class="toggling-container">
    <button mat-raised-button (click)="onToggleDropdown()" color="primary">
      Toggle Dropdown
    </button>
    <button
      mat-raised-button
      (click)="resetAll()"
      style="margin-left: 1rem;"
      color="primary"
    >
      Reset All
    </button>
  </div>
  <mat-select-autocomplete
    class="grid-7-11"
    [placeholder]="'Options Selection'"
    [selectPlaceholder]="'Filter Options'"
    [selectPlaceholder]="'search...'"
    [errorMsg]="errorMessage"
    [showErrorMsg]="showError"
    [options]="options"
    [display]="'label'"
    [value]="'data'"
    [multiple]="true"
    [labelCount]="3"
    [selectedOptions]="selectedOptions"
    (selectionChange)="getSelectedOptions($event)"
  >
  </mat-select-autocomplete>

  <div>
    Selected options are:
    <span *ngIf="!multiple">{{ selected }}</span>
    <div *ngIf="multiple">
      <span *ngFor="let option of selected; let index = index">
        {{ option }}
        <span *ngIf="index !== selected.length - 1">, </span>
      </span>
    </div>
  </div>
</div>
